<div class="container" style="height: auto; background-color:  rgb(214, 201, 141);">
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Construction</h1>
            <br>
            <p>
                Our all construciton works are start based on an agreement between client and us. 
                Once sign both parties to the agreement we will start the construction. 
                The construction related all important information included into 
                the agreement like time duration, cost and etc.
            </p>
            <br>
            <p>
                We are follwing right standards and methodoloigies to our constructions and 
                that exactly 100% based on the plan. Didn't do any thing outside from the plan. 
                Based on the size of the construction/site, doing completion it as step by step or as whole. 
                How ever the construction process is fully transpat and understandable any of parties those exists in the agreement.
            </p>
            <br>

            <h4>What are the special from us ?</h4>
            <ul class="mt-3">
                <li>We always responsible to complete the project with in the budget and given time period as per the agreement.</li>
                <li>Use quality and standard materials for all constructions.</li>
                <li>We will monitor the construction/site by visiting.</li>
            </ul>
            <br>
            <h4>Pricing Scheme for construciton</h4>
            <ul class="mt-3">
                <li>We define the total cost within the startup agreement. 
                    Addition to that give a material list of construction items. 
                    Based on those we will clearly declare total amount of your construction work.
                    Up to your requirement we are ready to provide this as step by step or as a whole.</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12"></div>
    </div>
   

    <div class="row" style="height: 50px;"></div>
</div>