<div class="container" style="height: auto; background-color:  rgb(214, 201, 141);">
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>House Planing</h1>
            <br>
            <p>
                We are visiting to the site/land and check. Then take a good understanding 
                about the client requirements. Based on all above information start drowing 
                a sketch. Mean time client has to come to our office and he also can see the sketch. 
                <br><br>
                This is going as a discussion between client and our technical officer. 
                How ever at this time if client's wants do some changes on sketch, 
                same time it will complete from our end. Once after giving the client 
                confirmation to the sketch, we will finilize the plan based on that sketch
                 by including elevation and other required details. 
                 <br><br>
                 Finally the complete plan review by the quealified professional 
                 civil charted engineer and then the plan be finished.
            </p>
            <br>
            <h4>Why are we choosing for this ?</h4>
            <ul class="mt-3">
                <li>Plan review and verify by a charted engineer.</li>
                <li>You can customize the sketch by come to our office.</li>
                <li>We will complete plan after your confirmation.</li>
                <li>All plans are drawing allign to the guidelines and standards proided by provinces council and NBRO.</li>
                <li>Give all required introduction and guidence about get the plan approve from relevant organisations.</li>
            </ul>
            <br>
            <h4>Pricing Scheme for house planning</h4>
            <ul class="mt-3">
                <li>The cost is based on the square freets.</li>
                <li>The cost is depends on the contract, non contract, electrical and plumping charging.</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12"></div>
    </div>
   

    <div class="row" style="height: 50px;"></div>
</div>