<div class="container" style="height: auto; background-color:  rgb(214, 201, 141);">
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Estimation and Material Listing</h1>
            <br>
            <p>
                The estmiation is helpful for different parties understand about the construction. 
                Based on clients requirements we will prepare estimations for following purposes/organisations.
            </p>
          
            <ul class="">
                    <li>For apply bank loans purpose.</li>
                    <li>For contractors thir cost calculations.</li>
                    <li>For clients get an idea about total costs with including material standards.</li>
                    <li>For all other required organisations.</li>
            </ul>
            <br>
            <p>
                The material list is prepare according to the plan and estimation. 
                Based on our client requirement's, this list can be provide as step by step or as a complete list. 
                This is important document for our clients and their contractors.
            </p>
            <br>
            <h4>Pricing Scheme for estimating and material listing</h4>
            <ul class="mt-3">
                <li>Cost for prepare estimation is based on the value of total list of estimation.</li>
                <li>Cost is applicable presentage is 1% from the total.</li>
                <li>If the total amout is more than 500,000/= (five lax) then the applicable precentage is 0.75% on material list.</li>
                <li>The cost is 1% from total material list.</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12"></div>
    </div>
   
    <div class="row" style="height: 50px;"></div>
</div>